:root, .body_ssg {
  --m-colors-white: #ffffff;
  --m-colors-black: #000000;
  --m-colors-black_alpha3: rgba(0, 0, 0, 0.03);
  --m-colors-black_alpha20: rgba(0, 0, 0, 0.2);
  --m-colors-black_alpha45: rgba(0, 0, 0, 0.45);
  --m-colors-black_alpha60: rgba(0, 0, 0, 0.6);
  --m-colors-black_alpha80: rgba(0, 0, 0, 0.8);
  --m-colors-black_alpha95: rgba(0, 0, 0, 0.95);
  --m-colors-white_alpha20: rgba(255, 255, 255, 0.2);
  --m-colors-white_alpha60: rgba(255, 255, 255, 0.6);
  --m-colors-white_alpha80: rgba(255, 255, 255, 0.8);
  --m-colors-white_alpha95: rgba(255, 255, 255, 0.95);
  --m-colors-warning: #ff5f04;
  --m-colors-warning_loss: #ff3e3e;
  --m-colors-positive: #178aff;
  --m-colors-success: #07a740;
  --m-colors-gray100: #fafafa;
  --m-colors-gray150: #f5f5f5;
  --m-colors-gray200: #f0f0f0;
  --m-colors-gray300: #e5e5e5;
  --m-colors-gray350: #cfcfcf;
  --m-colors-gray400: #969696;
  --m-colors-gray500: #888888;
  --m-colors-gray600: #777777;
  --m-colors-gray700: #666666;
  --m-colors-gray800: #444444;
  --m-colors-gray900: #222222;
  --m-colors-primary_light: #fff2f2;
  --m-colors-primary: #ff5452;
  --m-colors-primary_dark: #ff0014;
  --m-colors-secondary_light: #f5edff;
  --m-colors-secondary: #222222;
  --m-colors-transparent: transparent;
  --m-colors-current: currentColor;
  --m-colors-site-emart_primary: #ffd040;
  --m-colors-site-shinsegaemall_primary: #f12e24;
  --m-colors-site-shinsegaemall_secondary: #000000;
  --m-colors-site-department_primary: #a59357;
  --m-colors-site-department_secondary1: #222222;
  --m-colors-site-department_secondary2: #f2f0eb;
  --m-colors-site-ssg_secondary3_horizontal: linear-gradient(to right, #fecc1f, #fe3a6b 39.58%, #a33ffa 59.9%, #3798fb 80.21%, #26d866);
  --m-colors-site-triip_primary: #328ca8;
  --m-colors-site-triip_secondary1: #2e3342;
  --m-colors-site-triip_secondary2: #ff5b59;
  --m-colors-site-wconcept_primary: #000000;
  --m-colors-site-ssglanders_primary: #ce0e2d;
  --m-colors-delivery-emart_light: #ffe98b;
  --m-colors-delivery-emart: #ffd040;
  --m-colors-delivery-emart_dark: #ff6200;
  --m-colors-delivery-earlymorning_light: #d5dee8;
  --m-colors-delivery-earlymorning: #a3b7cd;
  --m-colors-delivery-earlymorning_dark: #44637e;
  --m-colors-delivery-traders_light: #d6ef9c;
  --m-colors-delivery-traders: #a6dd27;
  --m-colors-delivery-traders_dark: #50a800;
  --m-colors-delivery-oneday: #dcaa78;
  --m-colors-delivery-oneday_dark: #a57c58;
  --m-colors-delivery-post_light: #eceae4;
  --m-colors-delivery-post: #d6d2c4;
  --m-colors-delivery-depart_today_light: #f5edff;
  --m-colors-delivery-depart_today: #8807f3;
  --m-colors-delivery-pickup: #e1d2c8;
  --m-colors-delivery-mobilecoupon: #9ee5d2;
  --m-colors-service-univers_primary1_horizontal: linear-gradient(90deg, #002041 41.02%, #497cff 102.54%);
  --m-colors-service-univers_primary2: #002041;
  --m-colors-service-univers_secondary1: #497cff;
  --m-colors-service-happylounge_primary: #ff4c3c;
  --m-colors-service-present_primary: #ab8f59;
  --m-colors-service-present_secondary1: #d6d2c4;
  --m-colors-service-present_secondary2: #5d533f;
  --m-colors-service-ssgtalk_primary: #6677c0;
  --m-colors-service-obanjang_primary: #ffd040;
  --m-colors-service-mondaymoon_primary: #3e584b;
  --m-colors-service-foodmarket_primary1: #f04c38;
  --m-colors-service-foodmarket_primary2: #9e2a2b;
  --m-colors-service-foodmarket_primary3: #512f2e;
  --m-colors-service-foodmarket_secondary1: #d6d2c4;
  --m-colors-service-foodmarket_secondary2: #c0a392;
  --m-colors-service-nana_primary: #ff9600;
  --m-colors-service-luxury_primary: #0b503d;
  --m-colors-service-esg_primary: #0b923b;
  --m-colors-service-esg_primary_light: #e6f6ec;
  --m-colors-promotion-ssgday_primary: #e60096;
  --m-colors-promotion-ssgday_secondary1: #ff7373;
  --m-colors-promotion-ssgday_secondary2: #ff4137;
  --m-colors-brand: linear-gradient(270deg, #be3ffa 0%, #f43479 40.65%, #f43479 58.41%, #ff5452 100%);
}