@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.eot');
  src:
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.eot?#iefix')
      format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.woff')
      format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.ttf')
      format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.eot');
  src:
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.eot?#iefix')
      format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.woff')
      format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.ttf')
      format('truetype');
  font-display: swap;
}

:root {
  --m-colors-gray100: #fafafa;
  --m-colors-gray150: #f5f5f5;
  --m-colors-gray200: #222222ff;
  --m-colors-gray200-new: #f0f0f0ff;
  --m-colors-gray300: #e5e5e5ff;
  --m-colors-gray700: #666666ff;
  --m-colors-gray900: #222222ff;
  --m-colors-primary: #ff5452;
  --m-colors-secondary: #222222;
  --m-colors-transparent: transparent;
  --m-colors-current: currentColor;
  --m-colors-black: #000000;
  --m-colors-white: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  /* box-sizing: border-box; */
  /* width: 100vw;
  height: 100vh;
  position: relative; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
