@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Pretendard', sans-serif;
}

* {
  border-color: inherit;
}

input[type='text'],
input[type='password'],
input[type='submit'],
input[type='search'],
button,
input[type='button'],
input[type='submit'],
input[type='reset'],
input[type='file'] {
  border-radius: 0;
  font-family: 'Pretendard', sans-serif;
}

form:focus,
a:focus,
input:focus,
button:focus,
select:focus {
  outline: none;
}

a:-webkit-any-link {
  cursor: pointer;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
