.searchInputNone {
  position: relative;
  left: 0;
  width: 100%;
  padding-left: 16px;
  padding-right: 2rem;
  background-color: var(--m-colors-transparent);
  font-size: 14px;
  min-width: 0;
}

.searchItem:not(:first-child) {
  margin-inline-start: 0.375rem;
}
