.mcom_tit_renew {
  position: relative;
  height: 42px;
  padding: 0 50px;
  border-bottom: 1px solid #bcbcbc;
  background-color: #fff;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.mcom_tit_renew .mcom_tit_txt {
  overflow: hidden;
  font-size: 16px;
  color: #222;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.2;
  width: 100%;
}
.mcom_tit_renew .mcom_tit_lft {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
.mcom_tit_renew .btn_back {
  display: inline-block;
  width: 50px;
  height: 42px;
  vertical-align: middle;
  text-align: center;
}
.mcom_tit_renew .btn_back:after {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
}
.mcom_tit_renew .mcom_tit_lft:after, .mcom_tit_renew .mcom_tit_rgt:after {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
}
.mcom_tit_renew .mcom_tit_rgt {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin-right: 7px;
  font-size: 0;
}