.cmem_ct_password {
    padding: 50px 10px 0px 10px;
}
.cmem_cont {
    padding: 0 20px;
    color: #666;
}
.cmem_dl:not(:first-child) {
    margin-top: 10px;
}
.cmem_dl .cmem_dt {
    margin-bottom: 3px;
}
.cmem_dl .cmem_dt_tit {
    font-size: 13px;
    color: #777;
    letter-spacing: -0.3px;
}
.cmem_inp_txt2 {
    display: block;
    position: relative;
}
.cmem_inp_txt2:first-child input {
    margin-top: 0;
}
.cmem_inp_txt2 input {
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 12px 15px;
    border: 1px solid #c9c9c9;
    background: #fff;
    margin-top: -1px;
    font-family: "Roboto-Regular", "AppleSDGothicNeo-Regular", sans-serif;
    font-size: 15px;
    color: #222;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
}
.cmem_btn_orange2 {
    height: 48px;
    border: 1px solid #ff5b59;
    background: #ff5b59;
    color: #fff;
    font-size: 18px;
    line-height: 48px;
}